{%extends "blog/bad.html"%}
{%load crispy_forms_tags%}
{%block content%}

<div class = "content-section">

<form method='POST'>
    {% csrf_token %}
    <fieldset class ='form-group'>
        <legend class="border-bottom mb-4">Rest Password</legend>
                {{ form|crispy }}
                <div class ='form-group'>
                          <button class = "btn btn-outline-info" type="submit">Request Password Reset
                          </button>
                </div>
    </fieldset>  
</form>



{%endblock content%}


