{%extends "blog/base.html"%}
{%block content%}
<h1>About</h1>
<h4 class="display-12">The status of women in India has been subject to many changes over the span of recorded Indian history. Their position in early society was of very high position in India's ancient period, especially in the Indo-Aryan speaking regions, and their subordination continued to be reified well into India's early modern period. Practises such as female infanticide, dowry, child marriage and the taboo on widow remarriage, have had a long duration in India, and have proved difficult to root out, especially in caste Hindu society in northern India.

During the British East India Company rule (1757–1857), and the British Raj (1858–1947), measures aiming at amelioration were enacted, including Bengal Sati Regulation, 1829, Hindu Widows' Remarriage Act, 1856, Female Infanticide Prevention Act, 1870, and Age of Consent Act, 1891. Women's rights under the Constitution of India mainly include equality, dignity, and freedom from discrimination; additionally, India has various statutes governing the rights of women.

   </h4>
{%endblock content%}


